{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works: https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{{title}}</title>
        <link rel='stylesheet' href='/public/css/site.css' />
        <link rel="icon" href="./public/res/temp_logo.png">
    </head>
    <body>
        <header class='navbar'>
            <a href="/home">
            <img
                src='./public/res/temp_logo.png'
                alt='Body Buddy Logo'
                id='navbar_logo'
            /></a>
            <div id='navbar_item_list'>
                    <a href='/about' class='navbar_items'>About</a>
                    <a href='/home' class='navbar_items'>Home</a>
                    <a href='/workouts' class='navbar_items'>Workouts</a>
                    <a href='/challenges' class='navbar_items'>Challenges</a>
                    <a href='/user' class='navbar_items'>My Profile</a>
            </div>
        </header>
        {{{body}}}
    </body>
</html>