<div class="center" style="padding: 2rem;">
  <form action="/login" method="POST" id="loginForm">
    <table>
      <tr>
        <td>
          <label for="userNameInput">
            Enter your Username
          </label>
        </td>
        <td>
          <input type="text" name="userNameInput" id="userNameInput" />
          {{#if usernameError}}
            <span id="usernameError" class="errorMsg">X
              {{usernameError}}</span>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          <label for="passwordInput">
            Enter your Password
          </label>
        </td>
        <td>
          <input type="password" name="passwordInput" id="passwordInput" />
          {{#if passwordError}}
            <span id="passwordError" class="errorMsg">X
              {{passwordError}}</span>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <label for="submitButton">
            <button type="submit" id="submitButton">Submit</button>
          </label>
        </td>
      </tr>
    </table>
  </form>
  <a href="/register" style="text-align: left;">Don't have an account? Register Here</a>
</div>