:root {
  --dark-grey: rgb(41, 38, 38);
  --light-grey: #555;
  --light-text: rgb(190, 190, 190);
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--light-grey);
}

.errorMsg {
  color: red;
}

.navbar {
  /* text-align: right; */
  background-color: var(--dark-grey);
  width: 98.75%;
  margin: 0;
  display: block;
  padding: 1rem;
  height: 5vh;
  height: max-content;
}

#navbar_logo {
  width: 5%;
}

#navbar_item_list {
  display: inline-block;
  text-align: right;
  width: 90%;
  font-size: 200%;
  padding: 1rem;
}

.navbar_items {
  margin-right: 5rem;
  text-decoration: none;
  color: white;
  transition: translate ease-in-out 100ms;
  height: 60px;
  border-bottom: 0px;
}

.navbar_items:hover {
  translate: 0 -200px;
  border-bottom: 5px solid orange;
}

/* About Page */

#about_screen {
  width: 100vw;
  height: 80vh;
  position: relative;
  border: none;
  background-color: var(--dark-grey);
}

#loggedin_about_screen_div {
  position: absolute;
  top: 8%;
  left: 23%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
}

#about_screen_div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
}

#about_button_div {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  left: 50%;
  cursor: default;
}

.about_button {
  padding: 0.75rem 1rem;
  background-color: var(--light-grey);
  color: var(--light-text);
  border-radius: 5px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

#about_screen button:hover {
  background-color: var(--dark-grey);
}

#about_us_div {
  padding: 2rem;
  color: var(--light-text);
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

#loginForm td,
#registerForm td {
  text-align: left;
}

h1,
h2,
h3 {
  color: var(--dark-grey);
}

#profile {
  padding: 20px;
}

#profile img {
  max-width: 150px;
  border-radius: 50%;
}

#userSearch {
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
}

#profileForm {
  margin-bottom: 20px;
}

#profileForm input[type="text"],
#profileForm input[type="email"],
#profileForm input[type="password"],
#profileForm textarea,
#profileForm input[type="number"],
#profileForm select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

#profileForm select:disabled {
  background-color: #efefef4d;
  color: var(--dark-grey);
  opacity: 1;
}

#profileForm textarea {
  resize: vertical;
}

button {
  background-color: var(--dark-grey);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--light-grey);
}

#friendsList ul {
  list-style-type: none;
  padding: 0;
}

#friendsList ul li a {
  color: var(--dark-grey);
  text-decoration: none;
}

.friendRequest {
  margin-bottom: 10px;
}

.friendRequest span {
  margin-right: 10px;
}

#avatarSelection {
  margin-top: 20px;
}

.avatar-option img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.otherUserProfile {
  margin-top: 20px;
}

.otherUserProfile div {
  margin-bottom: 10px;
}
.errorMsg,
.friend-request-status {
  color: red;
  margin-top: 10px;
}

.searchContainer {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

#searchResults {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid var(--light-grey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

#searchResults div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#searchResults div:hover {
  background-color: var(--light-grey);
}

#searchResults a {
  color: var(--dark-grey);
  text-decoration: none;
  display: block;
}
footer {
  background-color: red;
}

/* Home Page */
#home_container {
  background-color: var(--light-grey);
  width: 100%;
  height: 90vh;
  color: var(--light-text);
  padding: 0rem;
  margin: 0;
}

.widget {
  border: 1rem solid var(--dark-grey);
  display: flex;
  flex-direction: column;
  height: 720px;
  overflow-y: scroll;
  margin: -5px;
}

.leaderboard-item-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.leaderboard-flex-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.submission-flex-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.submission-images-container {
  overflow-y: scroll;
  height: 500px;
}

.submission-images-list {
  list-style-type: none;
}

.submission-admin-review {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.submissions-list {
  list-style-type: none;
  text-align: center;
}

.submission-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submission-status-pending {
  color: yellow;
}
.submission-status-approved {
  color: green;
}
.submission-status-denied {
  color: red;
}

.submission-image {
  width: 400px;
}

.leaderboard-inner-container {
  overflow-y: scroll;
  height: 300px;
}

.challenge-component-title {
  text-align: center;
}

.challenge-information {
  text-align: center;
}

.challenge-component-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favoriteWorkoutElement {
  background-color: var(--dark-grey);
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 0.5px 1rem;
  display: table;
}

/* Workout Page */

#workout_container {
  padding: 2rem;
}

#workoutSearch {
  width: 25%;
}

#create_workout_popup {
  border: 0.1rem solid black;
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  overflow: scroll;
}

.muscle_group_button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  color: var(--light-text);
  background-color: var(--light-grey);
  padding: 0.5rem;
  border-style: none;
  cursor: pointer;
}
.muscle_group_button:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  color: var(--light-text);
  background-color: var(--dark-grey);
  padding: 0.5rem;
  border-style: none;
  cursor: pointer;
}

.expand_title {
  color: black;
  font-weight: bold;
  font-size: 18pt;
}

.dropdown-check-list {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--light-text);
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;

  border-radius: 5px;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
}

.dropdown-check-list ul.items li {
  list-style: none;
  text-align: left;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.workout_expanded {
  text-decoration: underline;
}
